<!-- app/views/posts/show.html.erb -->
<h1><%= @post.user.name %>'s Post</h1>

<p><strong><%= @post.user.name %></strong>: <%= @post.content %></p>

<h2>Comments</h2>

<% @comments.each do |comment| %>
  <p><strong><%= comment.user.name %></strong>: <%= comment.content %></p>
  <%= link_to 'Delete Comment', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render 'comments/form' %>

<h2>Likes & Dislikes</h2>

<p>Likes: <%= @likes.count %></p>
<p>Dislikes: <%= @dislikes.count %></p>

<%= render 'likes/form', likeable: @post %>
